body{
    background-color: black;
}
table, th, td {
    border: 1px solid #BEC2F0;
    border-collapse: collapse;

}

th, td {
    padding: 5px 10px;
    color: white;
}

th {
    background-color: #BEC2F0;
    color: white;
}

h1 {
    color: #BEC2F0;
    text-align: center;
}

table {
    width: 600px;
    text-align: center;
    margin: auto;
}

input {
    background-color: rgb(187, 19, 19);
    color: white;
    border:1px solid rgb(187, 19, 19);
    border-radius: 4px;
}


#botao{ text-align: center;
}

.botaoincluir{
    width: 150px;
    border: 1px solid rgb(187, 19, 19);
    border-radius: 4px;
}

.botaoexcluir{
    width: 150px;
    border: 1px solid rgb(187, 19, 19);
    border-radius: 4px;
}